@font-face {
    font-family: 'Alkes-Black';
    src: url("../fonts/Alkes-Black.woff") format("woff"), url("../fonts/Alkes-Black.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
  
@font-face {
    font-family: 'Alkes-Bold';
    src: url("../fonts/Alkes-Bold.woff") format("woff"), url("../fonts/Alkes-Bold.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }

@font-face {
    font-family: 'Alkes-Regular';
    src: url("../fonts/Alkes-Regular.woff") format("woff"), url("../fonts/Alkes-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap; }
/* base */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    background-color: #ffffff;
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #000000;
    font-family: 'Piazzolla', serif;
}

a,
a:hover {
    color: #000000 !important;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    cursor: pointer;
    font-family: 'Piazzolla', serif;
    border: none;
    outline: none;
    margin: 0px;
    box-shadow: none !important;
}

button:focus {
    outline: none;
}

.row {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap !important;
}

.container-big {
    width: 100%;
    margin: 0 auto;
    max-width: 1800px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1400px) {
    .container {
        max-width: 1400px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 5px 0 5px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 1400px;
        padding: 0 8px 0 8px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 768px;
        padding: 0 5px 0 5px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
    }
}


/* base */


/* questions */
.questions {
    padding-right: 20px;
}
.questions__container {
    max-width: 1700px;
}
.questions__box-girl {
    margin-right: 90px;
}
.questions__title {
    font-family: 'Alkes-Black';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 90px;
    padding-top: 25px;
}
.questions__question {
    margin-bottom: 10px;
}
.questions__question-title {
    font-family: 'Alkes-Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    border-radius: 12px;
    background-color: #F0F3F6;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.questions__question-title--active {
    background-color: #08A652;
    color: #FFFFFF;
}
.questions__question-content {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Alkes-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    max-width: 800px;
}
.questions__question-content--active {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

/* calc */

.calc {
    padding: 20px;
    margin-bottom: 90px;
}
.calc input {
    width: 100%;
    display: block;
}
.calc__row {
    padding: 70px 130px;
    justify-content: space-between;
    flex-wrap: wrap !important;
}
.calc__container {
    background: #F0F3F6;
    border: 1px solid #D9E0E8;
    border-radius: 7px;
}
.calc__box {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calc__box--left {
    flex-basis: 50%;
}
.calc__input-row {
    display: flex;
    justify-content: space-between;
}
.calc__input-text {
    font-family: 'Alkes-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
}
.calc__description {
    font-family: 'Alkes-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #8E9DAC;
    max-width: 510px;
}
.calc__title {
    font-family: 'Alkes-Black';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 40px;
}
.calc__input-group {
    position: relative;
    margin-bottom: 30px;
}
.calc__input {
    padding: 10px 20px;
    padding-left: 66%;
    padding-right: 50px;
    font-family: 'Alkes-Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    border: 1px solid #D9E0E8;
    border-radius: 6px;
}
.calc__input--time {
    padding-left: 82%;
}
.calc__input--range {
    cursor: pointer;
}
.calc-offer {
    flex-basis: 35%;
    padding-top: 16px;
}
.calc-offer__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Alkes-Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    text-align: right;
}
.calc-offer__text {
    font-family: 'Alkes-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.calc-offer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.calc-offer__rate {
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.calc__pt {
    font-family: 'Alkes-Black';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
}
.calc__button {
    transition: 0.3S;
    display: block;
    margin-left: auto;
    font-family: 'Alkes-Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #08A652;
    border: 1px solid #08A652;
    border-radius: 6px;
    padding: 20px 50px;
    background-color: #fff;
}
.calc__button:hover {
    color: #fff;
    background-color: #08A652;
}
.calc-offer__rate-number {
    font-family: 'Alkes-Black';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #08A652;
}
.calc__input-text-left {
    position: absolute;
    top: 23%;
    left: 20px;
    font-family: 'Alkes-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.calc__input-text-right {
    top: 13%;
    right: 20px;
    position: absolute;
    font-family: 'Alkes-Bold';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
}


/* range */

.kviz__ansver {
    margin-bottom: 10px;
}
.range-box {
    width: 100%;
}

.range {
    position: relative;
    height: 2px;
    background: #f2f2f2;
}

.range__input::-webkit-slider-thumb {
    width: 22px;
    height: 22px;
}

.range__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    position: absolute;
    z-index: 5;
    background: none;
    opacity: 0;
    cursor: pointer;
    height: 40px;
    left: 0px;
    top: -20px;
    line-height: 40px;
}

.range__track {
    position: absolute;
    height: 100%;
    background: #08A652;
    display: block;
    z-index: 2;
}

.range__track:after {
    width: 10px;
    height: 10px;
    position: absolute;
    content: '';
    right: 0px;
    top: 50%;
    transform: translate(-100%, -50%);
    cursor: pointer;
    z-index: 6;
    background: #08A652;
    border-radius: 50%;
    background-color: #08A652;
    box-shadow: 0px 0px 7.84px 0.16px rgba(0, 0, 0, 0.2);
    margin-right: -10px;
}
.range__track--time:after {
    transform: translate(-50%, -50%);
}

.range-val {
    color: #333333;
    position: absolute;
    right: 0;
    margin-right: -50px;
    bottom: -30px;
    background-color: #fff;
    font-size: 16px;
    width: 100px;
    text-align: center;
}

.min_val_range {
    position: absolute;
    left: 0;
    bottom: -30px;
    color: #aaaaaa;
    font-size: 16px;
}

.max_val_range {
    position: absolute;
    right: 0;
    color: #aaaaaa;
    bottom: -30px;
    font-size: 16px;
}

/* case */

.case {
    margin-bottom: 60px;
    padding: 0 20px;
}
.case__img {
    margin-right: 70px;
}
.case__box {
    padding-top: 20px;
}
.case__title {
    font-family: 'Alkes-Black';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px;
    max-width: 670px;
    margin-bottom: 60px;
}
.case__ul {
    display: flex;
    list-style-image: url(../img/case/circle.png);
}
.case__li-wrap--left {
    margin-right: 70px;
}
.case__li {
    font-family: 'Alkes-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 1px solid #E7E7E7;
    height: 70px;
    max-width: 370px;
    margin-bottom: 10px;
    padding-right: 70px;
    padding-left: 10px;
}
.case__li--3, .case__li--6 {
    border-bottom: none;
}

