
@media screen and (max-width: 1450px) {
  .calc__input {
    padding-left: 64%;
  }
  .calc__input--time {
    padding-left: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .questions__box-girl {
      margin-right: 50px;
      align-self: center;
  }
  .questions__title {
    margin-bottom: 50px;
  }
  .calc__input {
    padding-left: 60%;
  }
  .calc__input--time {
    padding-left: 80%;
  }
  
}

@media screen and (max-width: 1300px) {
  .calc__input {
    padding-left: 56%;
  }
  .calc__input--time {
    padding-left: 77%;
  }
  .case__li {
    padding-right: 0;
    max-width: 380px;
  }
}
@media screen and (max-width: 1200px) {
  .calc__row {
    padding: 40px 80px;
  }
  .questions__box-girl {
    margin-right: 20px;
  }
  .case__row {
    align-items: center;
  }
  .case__box {
    padding-top: 0;
  }
}

@media screen and (max-width: 1100px) {
  .calc__row {
    padding: 40px 25px;
  }
}

@media screen and (max-width: 992px) {
  .case__title {
    font-size: 36px;
    line-height: 45px;
  }
  .case__img {
    display: none;
  }
  .case__row {
    justify-content: center;
  }
  .case {
    margin-bottom: 40px;
  }
  .calc {
    margin-bottom: 50px;
  }
  .calc__input-text-right {
    font-size: 18px;
    line-height: 25px;
  }
  .calc__input {
    padding-left: 235px;
    font-size: 18px;
    line-height: 25px;
  }
  .calc__input--time {
    padding-left: 305px;
  }
  .calc__input--sum {
    padding-right: 45px;
  }
  .calc__input-text-left {
    font-size: 12px;
    line-height: 17px;
  }
  .calc__title {
    font-size: 30px;
    max-width: 350px;
    line-height: 42px;
  }
  .calc__box {
    min-height: 410px;
    flex-basis: 48%;
  }
  .calc-offer {
    padding-top: 50px;
  }
  .calc__row {
    padding: 20px 20px 40px;
  }
  .questions {
    padding: 0 20px;
  }
  .questions__box-girl {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .calc__input {
    padding-left: 213px;
  }
  .calc__input--time {
    padding-left: 285px;
  }
}
@media screen and (max-width: 850px) {
  .calc__input {
    padding-left: 185px;
  }
  .calc__input--time {
    padding-left: 260px;
  }
}
@media screen and (max-width: 800px) {
  .calc__input {
    padding-left: 175px;
  }
  .calc__input--time {
    padding-left: 245px;
  }
}
@media screen and (max-width: 767px) {
  .calc__input-text-left {
    top: -25px;
  }
  .calc__input {
    padding-left: 20px;
  }
  .calc__button {
    margin: auto;
  }
  .calc-offer__pt {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .calc-offer__rate {
    margin-bottom: 30px;
  }
  .calc-offer__title {
    margin-bottom: 20px;
  }
  .calc__box--left {
    margin-bottom: 50px;
  }
  .calc__input-group {
    margin-bottom: 50px;
  }
  .calc__input-group--top {
    margin-bottom: 70px;
  }
  .calc__title {
    max-width: 100%;
    margin-bottom: 70px;
  }
  .calc-offer {
    padding-top: 0;
  }
  .calc__box {
    flex-basis: 100%;
    min-height: 0;
  }
  .calc-offer__title {
    text-align: left;
  }
}
@media screen and (max-width: 576px) {
  .case__row {
    justify-content: flex-start;
  }
  .case__title {
    font-size: 24px;
    line-height: 34px;
    max-width: 330px;
    margin-bottom: 40px;
  }
  .case__li {
    list-style-image: url(../img/case/tick.png);
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
    height: 60px;
  }
  .case__ul {
    flex-direction: column;
    padding-left: 15px;
  }
  .calc-offer__box {
    padding: 10px 15px;
  }
  .calc__container {
    padding: 0;
  }
  .questions__title {
    padding-top: 0;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 25px;
  }
  .questions__question-title, .questions__question-content {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .calc__title {
    font-size: 24px;
    line-height: 34px;
  }
  .calc-offer__title {
    font-size: 18px;
    line-height: 25px;
  }
  .calc__description {
    font-size: 10px;
    line-height: 13px;
  }
  .calc-offer__text {
    font-size: 14px;
    line-height: 20px;
  }
  .calc__button {
    padding: 20px 0;
    width: 100%;
  }
}